<!DOCTYPE html>
<html ng-app="navApp">

<head>
    <meta charset="utf-8" />
    <title>Runoob</title>
    <link href="runoobo.css" rel="stylesheet" />
    <link href="newcircle.css" rel="stylesheet" />
    <script type="text/javascript" src="jquery-1.11.3.min.js"></script>
    <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
    <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular-route.min.js"></script>
    <script src="controller.js" type="text/javascript" charset="utf-8"></script>
    <script src="config.js" type="text/javascript" charset="utf-8"></script>
    <script src="directive.js" type="text/javascript" charset="utf-8"></script>
</head>

<body ng-controller="myCtrl ">
    <div class="head ">
        <a href="#">
            <img src="./images/logo.png " />
        </a>
        <div class="search">
            <input placeholder="搜索…… " type="text " />
        </div>
    </div>
    <div class="nav">
        <ul id="navId">
            <li ng-repeat="x in linames ">
                <a href="#/{{x.url}}/{{x.id}} " ng-click="TouchNav($index) ">{{x.name}}</a>
                <div ng-show="$index==NavDivShowIndex" class="con-ret"></div>
            </li>
        </ul>
    </div>
    <div class="content">
        <div ng-view id="contentLf" class="contentLf">
        </div>
        <div class="contentRgCircle">
            <div id="contentRg" class="contentRg">
                <div ng-repeat="x in aArr">
                    <div class="rgTitle ">
                        <img src="./images/all3.png" />
                        <strong>{{x.name}}</strong>
                    </div>
                    <a class="RgPice" href="###" ng-repeat="t in x.content">
                        <h4>[{{t.name}}]</h4>
                        <img src="./images/{{t.imgName}}" />
                        <strong>HTML，即超文本标记语言（Hyper Text Markup Language）</strong>
                    </a>
                </div>
            </div>
            <div lunbo style="float: left;background-color: white"></div>
        </div>
    </div>
    <footer>
        <p>Copyright © 2013-2018
            <strong>菜鸟教程</strong> runoob.com All Rights Reserved. 备案号：
            <strong>闽ICP备15012807号-1</strong></p>
    </footer>
</body>

</html>